/* General styling - font and background colours */

body {
    font-family: Poppins;
    background-color: #111717;
    margin: 0px;
}

main{
    background-color: rgb(17, 23, 23);
}

nav {
    background-color: rgb(17, 23, 23);
}

#headerBackground {
    background-image: url(/CATWIC066_FTO2301_GroupB_CatherineWickham_ITW9_FinalResume/images/backgroundLarge.jpg);
    background-repeat:no-repeat ;
    background-size:100% ;
    background-attachment:fixed;
    background-position: center;
}

header {
    background-color: rgb(17, 23, 23, 0.5);
    width: 100%;
}

#footerBackground {
    background-image: url(/CATWIC066_FTO2301_GroupB_CatherineWickham_ITW9_FinalResume/images/backgroundLarge.jpg);
    background-repeat:no-repeat ;
    background-size:100% ;
    background-attachment:fixed;
    background-position: center;
    background-position-y: 40%;
}

footer {
    background-color: rgb(17, 23, 23, 0.5);
    width: 100%;
}

#profilePicture {
    border-radius: 100%;
    height: 20vw;
    width: auto;
}

h1 {
    color: #E7E8E5;
}

h2 {
    color: #CA9256;
}

h3 {
    color: #A5C9C5;
}

p {
    color: #E7E8E5;
}

.dates {
    color: #A5C9C5;
}

.icons {
    text-decoration: none;
    color: #CA9256;
    margin: 1%;
    font-size: 2em;
}

.mainSection {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1vw;
}

a.navButton {
    color: #E7E8E5;
    text-decoration: none;
  }
  
a.navButton:hover {
    background-color: rgb(59, 82, 83, 0.5);
  }

button {
    background-color: #CA9256; 
    border-style: none;
    border-radius: 5px;
    font-family: Poppins;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

a.heroButton {
    text-decoration: none;
    color: #FFFFFF;
}

a.textLink {
    color: #A5C9C5;
    text-decoration: none;
}

a.textLink:hover {
    text-decoration: underline;
}

/* Layout of navbar with CSS grid */

nav {
    display:grid;
    grid-template-columns: 3% 1fr 15% 15% 15% 15% ;
    grid-template-rows: 6vh;
    grid-gap: 0.5%;
    width: 100%;
    position: fixed;
}

a.navButton {
    display: grid;
    align-items: center;
    justify-items: center;
}

#navTitle {
    display: grid;
    align-items: center;
    justify-items: left;
    color: #E7E8E5;
}

#downloadCV {
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: #CA9256;
    font-size: 1.2em;  
}

/* Layout of Hero section with flexbox */

header {
    padding: 10%;
    display: flex;
    align-items: center;
}

#profilePictureOuter {
    margin-left: 2%;
}

#heroContent {
    flex-wrap: wrap;
    width: 50%;
    margin: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Layout of Main content section with flexbox */

main {
    display: flex;
}

#mainColumn1, #mainColumn2 {
    flex: 1;
}

.mainSection {
    margin: 6%;
    padding: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

#education {
    margin-left: 0%;
}

/* Layout of Contact section with flexbox */

footer {
    display: flex;
    align-items: center;
}

#contactText{
    flex: 2;
    margin: 4%;
}

#iconsBox{
    flex: 1;
    text-align: center;
    margin: 4%;
}
